.container .item {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}
.holder {
	display: block;
	position: relative;
	width: 100%;
}
.container .item img {
	width: 300px;
}
.container .item a {
	width: 300px;
	padding: 0;
	margin: 10px;
	height: 200px;
	display: inline-block;
	box-shadow: 2px 2px 5px 0px #666;
}
.container .item a:hover {
	box-shadow: 5px 5px 5px 0px #666;
	opacity: 0.7;
}